@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 25% 7.8431%;
    --card: 180 6.6667% 97.0588%;
    --card-foreground: 210 25% 7.8431%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 25% 7.8431%;
    --primary: 203.8863 88.2845% 53.1373%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 25% 7.8431%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 1.9608% 90%;
    --muted-foreground: 210 25% 7.8431%;
    --accent: 211.5789 51.3514% 92.7451%;
    --accent-foreground: 203.8863 88.2845% 53.1373%;
    --destructive: 356.3033 90.5579% 54.3137%;
    --destructive-foreground: 0 0% 100%;
    --border: 201.4286 30.4348% 90.9804%;
    --input: 200 23.0769% 97.4510%;
    --ring: 202.8169 89.1213% 53.1373%;
    --chart-1: 203.8863 88.2845% 53.1373%;
    --chart-2: 159.7826 100% 36.0784%;
    --chart-3: 42.0290 92.8251% 56.2745%;
    --chart-4: 147.1429 78.5047% 41.9608%;
    --chart-5: 341.4894 75.2000% 50.9804%;
    --sidebar-background: 180 6.6667% 97.0588%;
    --sidebar-foreground: 210 25% 7.8431%;
    --sidebar-primary: 203.8863 88.2845% 53.1373%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 211.5789 51.3514% 92.7451%;
    --sidebar-accent-foreground: 203.8863 88.2845% 53.1373%;
    --sidebar-border: 205.0000 25.0000% 90.5882%;
    --sidebar-ring: 202.8169 89.1213% 53.1373%;
    --radius: 1.3rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 200 6.6667% 91.1765%;
    --card: 0 0% 5.0980%;
    --card-foreground: 0 0% 85.0980%;
    --popover: 0 0% 0%;
    --popover-foreground: 200 6.6667% 91.1765%;
    --primary: 43.9286 100% 56.0784%;
    --primary-foreground: 0 0% 6.2745%;
    --secondary: 195.0000 15.3846% 94.9020%;
    --secondary-foreground: 0 0% 9.8039%;
    --muted: 0 0% 9.4118%;
    --muted-foreground: 0 0% 52.9412%;
    --accent: 0 0% 7.8431%;
    --accent-foreground: 43.9286 100% 56.0784%;
    --destructive: 356.3033 90.5579% 54.3137%;
    --destructive-foreground: 0 0% 100%;
    --border: 240.0469 4.0430% 15.9329%;
    --input: 207.6923 27.6596% 18.4314%;
    --ring: 43.9286 100% 56.0784%;
    --chart-1: 203.8863 88.2845% 53.1373%;
    --chart-2: 159.7826 100% 36.0784%;
    --chart-3: 42.0290 92.8251% 56.2745%;
    --chart-4: 147.1429 78.5047% 41.9608%;
    --chart-5: 341.4894 75.2000% 50.9804%;
    --sidebar: 240 4.0000% 4.9020%;
    --sidebar-foreground: 0 0% 85.0980%;
    --sidebar-primary: 61.1650 72.0280% 28.0392%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 205.7143 70% 7.8431%;
    --sidebar-accent-foreground: 56.0190 88.2845% 53.1373%;
    --sidebar-border: 0 0% 5.0980%;
    --sidebar-ring: 64.1096 75.2577% 38.0392%;
    --radius: 1.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .glassmorphism {
    @apply bg-card/60 backdrop-blur-xl;
  }
}
